{% extends "base.html.twig" %}
{% block title %}App:product:category{% endblock %}
{% block body %}
    <div class="container">
        <div class="product-header">
            <h1 class="product-title">category</h1>
            <p class="lead product-description">A brief look into the category.</p>
        </div>
        <div class="row">
            <div class="col-sm-8 product-main">
                <div class="product-post">
                    <h2 class="product-post-title">{{ category.name|raw }}</h2>
                    <p>Title: {{ category.title|raw }}</p>
                    <p>Company: {{ category.company|raw }}</p>
                    <p>Short Biography: {{ category.shortBio|raw }}</p>
                    <ul>
                        {% if category.getPhone %}
                            <li>{{ category.phone }}</li>
                        {% endif %}
                        {% if category.getFacebook %}
                            <li>{{ category.facebook }}</li>
                        {% endif %}
                        {% if category.getTwitter %}
                            <li>{{ category.twitter }}</li>
                        {% endif %}
                        {% if category.getGithub %}
                            <li>{{ category.github }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
